$headerHeight: 3em;
$title: ($headerHeight/3)*2;
$user: $headerHeight/3;
$sidebarSize: 300px;
$backgroundColor: #36465d;
$contentPadding: 1em;

@mixin features{
	position: absolute;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: $headerHeight;
	line-height: $headerHeight;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(5px);
	z-index: 99;
	text-align: center;
}
@mixin header {
	@include features;
	top: 0;
}
@mixin footer {
	@include features;
	bottom: 0;
}

@mixin content {
	position: absolute;
	padding-top: $headerHeight;
	padding-bottom: $headerHeight;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: unset;
	overflow-y: scroll;
}

@mixin update {
	position: absolute;
	display: inline-block;
	top: 50%;
	right: 0;
	transform: translate(-25%, -50%);
	height: $headerHeight / 2;
	width: $headerHeight / 2;
	line-height: $headerHeight;
}

@mixin back {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: $headerHeight / 2;
  width: $headerHeight / 2;
  line-height: $headerHeight;
}

@mixin button {
	position: relative;
	color: #000;
	background-color: #eee;
	height: 1.5em;
	line-height: 1.5em;
	padding: 1em;
	margin-bottom: 1px;
}

@mixin link_in_content {
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: transparent;
	border-bottom: 1px solid #888;
	margin-left: 50px;
	min-height: 30px;
	line-height: 30px;
}

@mixin info {
	background-color: $backgroundColor;
	color: #fff;
	div {
		border-bottom: 1px solid #888;
		margin-left: 50px;
		min-height: 30px;
		line-height: 30px;
	}
	.separator {
		margin: 1px 0px 1px 0px;
		background-color: #56667d;
		min-height: 20px;
		line-height: 20px;
	}
}
.spin {
    animation: spin 1.5s linear infinite;
	border-radius: 50%;
}
@keyframes spin {
	0% {transform: translate(-25%, -50%) rotate(0deg);}
	100% {transform: translate(-25%, -50%) rotate(360deg);}
}
