$headerHeight: 3em;
$title: ($headerHeight/3)*2;
$user: $headerHeight/3;
$sidebarSize: 300px;
$backgroundColor: #36465d;

@mixin features{
	position: absolute;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: $headerHeight;
	line-height: $headerHeight;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(5px);
	z-index: 99;
	text-align: center;
}
@mixin header {
	@include features;
	top: 0;
}
@mixin footer {
	@include features;
	bottom: 0;
}
