$headerHeight: 3em;
$title: ($headerHeight/3)*2;
$user: $headerHeight/3;
$sidebarSize: 300px;
$backgroundColor: #36465d;
$contentPadding: 1em;

@mixin features{
	position: absolute;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: $headerHeight;
	line-height: $headerHeight;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(5px);
	z-index: 99;
	text-align: center;
}
@mixin header {
	@include features;
	top: 0;
}
@mixin footer {
	@include features;
	bottom: 0;
}

@mixin content {
	position: absolute;
	padding-top: $headerHeight;
	padding-bottom: $headerHeight;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: unset;
	overflow-y: scroll;
}

@mixin update {
	position: absolute;
	right: 0;
	display: inline-block;
	top: 0;
	height: $headerHeight;
	line-height: $headerHeight;
}

@mixin info {
	background-color: $backgroundColor;
	color: #fff;
	div {
		border-bottom: 1px solid #888;
		margin-left: 50px;
		min-height: 30px;
		line-height: 30px;
	}
	.separator {
		margin: 1px 0px 1px 0px;
		background-color: #56667d;
		min-height: 20px;
		line-height: 20px;
	}
}
