@import "./size.scss";
body {
	background-color: $backgroundColor;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	border-right: 1px solid #888;
	box-sizing: border-box;
	width: $sidebarSize;
}
#contents {
	position: absolute;
	top: 0;
	bottom: 0;
	left: $sidebarSize;
	right: 0;
}
