$sidebarsize: 300px;
$background-color: #36465d;
body {
	background-color: $background-color;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	border-right: 1px solid #888;
	width: $sidebarsize;
}
#contents {
	position: absolute;
	top: 0;
	bottom: 0;
	left: $sidebarsize;
	right: 0;
}
